* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

#app {
    position: relative;
    overflow-x: hidden;
    background-color: white;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    color: #242424;
}

img {
    -webkit-user-drag: none;
}

/* all */
section {
    padding: 80px 0;
    position: relative;
}

.section-title {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    width: fit-content;
    margin: 0 auto 60px;
    color: #ffffff;
    /* 加入一點淡淡的陰影增加文字立體感與可讀性 */
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
}

.section-title::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    min-width: 40px;
    height: 3px;
    background: #5061ff;
}

.section-title.white {
    color: white;
}

.red {
    color: #ce3428
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.text {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: justify;
}

.center {
    text-align: center;
}

.btn {
    cursor: pointer;
    background-color: #1E5786;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.5s;
    width: fit-content;
    font-size: 1rem;
    margin: 0 auto;
}

.btn:hover {
    opacity: 0.8;
}

.ss-show,
.ss-show-check {
    display: none;
}

.popup ::-webkit-scrollbar {
    width: 7px;
}

.popup ::-webkit-scrollbar-button {
    background: transparent;
    border-radius: 4px;
}

.popup ::-webkit-scrollbar-track-piece {
    background: transparent;
}

.popup ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #313b443f;
}

.popup ::-webkit-scrollbar-track {
    box-shadow: transparent;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #171721;
    z-index: -1;
}

/* preload */
.preload {
    position: fixed;
    transform: translateY(0);
    z-index: 30;
    width: 100%;
    height: 100vh;
    transition: 1s;
    background: #1E1D61;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preload.active {
    transform: translateY(100%);
    z-index: -1;
}

.lds-circle {
    opacity: 1;
    color: #2DA0FF;
    transition: 0.3s;
}

.lds-circle.active {
    opacity: 0;
}

.lds-circle,
.lds-circle div {
    box-sizing: border-box;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}

.lds-circle>div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    background: currentColor;
    border-radius: 50%;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {

    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
    }
}

/* Global RWD */
@media screen and (max-width:1130px) {
    .ss-show {
        display: block;
    }
}

@media screen and (max-width:860px) {
    .text {
        font-size: 1.1rem;
    }
    .section-title.white::after {
        width: 100%;
    }
}

@media screen and (max-width:540px) {
    section {
        padding: 50px 0;
    }

    .title {
        font-size: 1.5rem;
    }

    .section-title {
        font-size: 1.5rem;
        margin: 0 auto 40px;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .text {
        font-size: 1rem;
    }
}